body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}

h1, h2, h3, h4, p {
  margin: 0;
  color: #2E2E3A;
}

a {
  text-decoration: none;
  color: inherit;
}

.section {
  height: 100vh;
  position: relative;
}

.container {
  top: 50%;
  left: 50%;
  width: 33%;
  margin: 0 auto;
  padding: 1rem;
  overflow: hidden;
  min-height: 50%;
  position: absolute;
  border-radius: 15px;
  background-image: linear-gradient(to right bottom, #ffffff, #f6faff, #e7f7ff, #d4f6ff, #c2f4f6, #b7f4f1, #aef4e9, #a7f3df, #99f5e2, #89f7e6, #77f9eb, #5ffbf1);
  transform: translate(-50%, -50%);
  box-shadow:
    rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.button {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  transition: all 0.3s ease;
  min-width: 10rem;
}
