{ /* General */}

a {
  text-decoration: none;
  color: inherit;
}

h2, p {
  margin: 0;
}

.section {
  height: 100vh;
  position: relative;
}

.container {
  top: 50%;
  left: 50%;
  width: 33%;
  margin: 0 auto;
  padding: 1rem;
  overflow: hidden;
  min-height: 50%;
  position: absolute;
  border-radius: 15px;
  transform: translate(-50%, -50%);
  box-shadow:
    rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

{ /* Notifications */}

.notifications_wrapper {
  padding: 1rem 0 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

{ /* Notification Card */}

.notification_wrapper {
  position: relative;
}

.notification_title_wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.notification_title_header {
  font-size: 1.5rem;
}

.notification_icon {
  font-size: 1.2rem;
}

.notification_buttons_wrapper {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 0.2rem;
}

.notification_button {
  flex: 1;
  min-width: 7rem;
}

{ /* Tabs */}

.tabs_wrapper {
  display: flex;
  gap: 0.2rem;
  border-bottom: 2px solid #000;
}

.tab {
  outline: none;
  padding: 0.5rem;
  border-radius: 5px 5px 0 0;
}

.active_tab {
  background-color: #000;
  color: white;
}
