.warning_wrapper {
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  padding: 1.5rem 0;
  position: absolute;
  justify-content: center;
  transition: transform 1.5s ease-in-out;
}

.warning_wrapper_hide {
  transform: translateY(-100%) !important;
}

.warning_wrapper_show {
  transform: translateY(0);
}

.warning_header {
  padding: 0.7rem;
  width: fit-content;
  border-radius: 0.5rem;
  background-image: linear-gradient(
    to right bottom,
    #ffffff,
    #f6faff,
    #e7f7ff,
    #d4f6ff,
    #c2f4f6,
    #b7f4f1,
    #aef4e9,
    #a7f3df,
    #99f5e2,
    #89f7e6,
    #77f9eb,
    #5ffbf1
  );
}
